# Tyk Dashboard Configuration

# Base URL of your Tyk Dashboard
DASHBOARD_URL=https://your-dashboard-url

# Tyk Dashboard Admin API Key
TYK_API_KEY=your-admin-api-key

# Organisation ID
ORG_ID=your-organisation-id